# Packages

In [3]:
from dplython import *
import pandas as pd
import numpy as np

# Example Workflow

Import the data to work with:

In [11]:
diamonds = pd.read_csv('data/diamonds.csv')

In [13]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

## Select Columns

Select the columns 'carat' and 'clarity'

In [43]:
diamonds_filt = diamonds[['carat', 'clarity']]
diamonds_filt.head()

   carat clarity
0   0.23     SI2
1   0.21     SI1
2   0.23     VS1
3   0.29     VS2
4   0.31     SI2

## Filter Rows

Filter rows for 

- carat above or equal to three

- cut either Ideal or Premium

In [51]:
diamonds[(diamonds['carat']>= 3) & 
         (diamonds['cut'].isin(['Ideal', 'Premium']))].head()

       carat      cut color clarity  depth  table  price     x     y     z
19339   3.01  Premium     I      I1   62.7   58.0   8040  9.10  8.97  5.67
21862   3.01  Premium     F      I1   62.2   56.0   9925  9.24  9.13  5.73
22428   3.05  Premium     E      I1   60.9   58.0  10453  9.26  9.25  5.66
24131   3.24  Premium     H      I1   62.1   58.0  12300  9.44  9.40  5.85
24297   3.22    Ideal     I      I1   62.6   55.0  12545  9.49  9.42  5.92

## Arrange Rows

You can sort a dataframe with *sort_values()*

In [50]:
diamonds.sort_values('carat', ascending=True).head()

       carat      cut color clarity  depth  table  price     x     y     z
31593    0.2  Premium     E     VS2   61.1   59.0    367  3.81  3.78  2.32
31597    0.2    Ideal     D     VS2   61.5   57.0    367  3.81  3.77  2.33
31596    0.2  Premium     F     VS2   62.6   59.0    367  3.73  3.71  2.33
31595    0.2    Ideal     E     VS2   59.7   55.0    367  3.86  3.84  2.30
31594    0.2  Premium     E     VS2   59.7   62.0    367  3.84  3.80  2.28

## Summarising / Aggregation by group

You want to calculate the mean, min, and max price per cut and color-group

In [59]:
diamonds.groupby(['cut', 'color']).agg({
    'price': ['mean', 'min', 'max']
})

                       price
                        mean  min    max
cut       color
Fair      D      4291.061350  536  16386
          E      3682.312500  337  15584
          F      3827.003205  496  17995
          G      4239.254777  369  18574
          H      5135.683168  659  18565
          I      4685.445714  735  18242
          J      4975.655462  416  18531
Good      D      3405.382175  361  18468
          E      3423.644159  327  18236
          F      3495.750275  357  18686
          G      4123.482204  394  18788
          H      4276.254986  368  18640
          I      5078.532567  351  18707
          J      4574.172638  335  18325
Ideal     D      2629.094566  367  18693
          E      2597.550090  326  18729
          F      3374.939362  408  18780
          G      3720.706388  361  18806
          H      3889.334831  357  18760
          I      4451.970377  348  18779
          J      4918.186384  340  18508
Premium   D      3631.292576  367  18575
          E      3538.914420  326  18477
          F      4324.890176  342  18791
          G      4500.742134  382  18741
          H      5216.706780  368  18795
          I      5946.180672  334  18823
          J      6294.591584  363  18710
Very Good D      3470.467284  357  18542
          E      3214.652083  352  18731
          F      3778.820240  357  18777
          G      3872.753806  354  18818
          H      4535.390351  337  18803
          I      5255.879568  336  18500
          J      5103.513274  336  18430

## Create / Modify columns

Columns can be created with *assign()*

In [62]:
diamonds.assign(volume=lambda x: x.x * x.y * x.z).head()

,carat,cut,color,clarity,depth,table,price,x,y,z,volume
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250